.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 25px 20px;
}
.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete_buttons{
    display: flex;


}
.header__button{
    border-radius: 5px;
    background-color: #27263D;
    padding: 10px;
    color: white;
    transition: 0.5s;
    margin: 10px;
}
.header__button:active{
    transform: translate(0,-3px);
    box-shadow: 0 5px 15px 0 #7AA899;
}
.header__button:hover{
    box-shadow: 0px 10px 40px 10px #7AA899;
}
.header__input{

    border-radius: 7px;
    background-color: #7AA899;
    color: white;
    padding: 13px 300px 12px 10px;
    
    transition: 0.5s;
}
.header__input:hover{
    box-shadow: 0 0px 15px 5px #7AA899;
}
.header__input:focus{
    border-radius: 7px;
    background-color: #7AA899;
    color: white;
    box-shadow: 0 0px 15px 5px #7AA899;
}
.header_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
}
.header_bottom_all{
    margin-right: 20px;
}
.header_bottom_active{
    margin-right: 10px;
}
.header_bottom__input{
    border-radius: 7px;
    background-color: #7AA899;
    color: white;
    padding: 13px 100px 12px 10px;
    
    transition: 0.5s;
}
.header_bottom__input:hover{
    box-shadow: 0 0px 15px 5px #7AA899;
}
.header_bottom__input:focus{
    border-radius: 7px;
    background-color: #7AA899;
    color: white;
    box-shadow: 0 0px 15px 5px #7AA899;
}