.container{
  margin: 100px auto;
  width: 820px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 5px 50px #6E6C78;
  padding: 10px;
}
.blocks{
  width: 90%;
  margin: 35px auto;
}